<template lang="pug">
  div.container
    div.section
      div.columns.is-centered: div.column.is-half-desktop.is-two-thirds-tablet
        div.box.is-paddingless: textarea.textarea.has-fixed-size(v-model='parserInput' rows='4' autofocus)
    div.section
      div.notification.is-danger.is-light(v-if='parserOutput.error')
        strong Parser error
        p {{parserOutput.error}}
      ToDoItems(:todos='parserOutput.todos')
</template>

<style scoped>
textarea {
  white-space: pre;
  line-height: 2;
}
</style>

<script>
import ToDoParser from "@todo.txt/parser";
import ToDoItems from "~/components/ToDoItems";

export default {
  components: { ToDoItems },
  data() {
    return {
      parserInput:
        "x (A) 2020-04-10 2020-01-01 Write parser for todo.txt @typescript @js +code\nx (B) Publish on npm due:2021-01-01\nFix all the bugs 🐛"
    };
  },
  computed: {
    parserOutput() {
      try {
        const parser = new ToDoParser();
        return { todos: parser.parse(this.parserInput), error: null };
      } catch (e) {
        return {
          todos: [],
          error:
            e.causes?.map(cause => cause.message).join("\n") || e.toString()
        };
      }
    }
  }
};
</script>
