<template lang="pug">
  div.container.section
    div.columns.is-centered: div.column.is-half-desktop.is-two-thirds-tablet: div.box.content
      p The parser implements the 'official' todo.txt <a href="https://github.com/todotxt/todo.txt/blob/master/README.md#todotxt-format-rules" target="_blank" rel="noopener noreferrer">specification</a>, with one difference:
      p: em It's not necessary to specify both the creation and completion dates. When only a single date is given, it's interpreted as being the completion date.
      SyntaxDiagram.section
</template>

<script lang="ts">
import Vue from "vue";
import SyntaxDiagram from "../components/SyntaxDiagram.vue";
export default Vue.extend({
  components: { SyntaxDiagram }
});
</script>
