<template lang="pug">
  div.container.section
    div.columns.is-centered.is-mobile
      div.column.is-narrow
        div.box
          span.is-family-code.has-text-weight-semibold {{installCommand}}
    div.columns.is-centered
      div.column.is-half-desktop.is-two-thirds-tablet
        div.box.is-family-code
          pre.is-paddingless(v-highlightjs="codeSample")
            code.has-background-white.javascript
</template>

<style lang="sass">
@import "highlight.js/styles/default.css";
</style>

<script>
export default {
  data() {
    return {
      installCommand: "npm install @todo.txt/parser",
      codeSample: `import ToDoParser from '@todo.txt/parser'

let parser = new ToDoParser()
let todos = parser.parse('buy groceries +shopping')

console.log(todos)

[{
  "completed": false,
  "priority": null,
  "text": "buy groceries",
  "projects": [
    "shopping"
  ],
  "contexts": [],
  "dateCompleted": null,
  "dateCreated": null,
  "extras": {}
}]
`
    };
  }
};
</script>
