<template lang="pug">
div.section.container
  div.columns.is-vcentered
    div.column.is-half
      div
        h1.title.is-family-code
          span.tag.is-large.is-dark.logo todo.txt
          |
          | parser
    div.column.is-half
      div.buttons.has-addons.is-pulled-right
        nuxt-link.navbar-item(to="/", exact) Demo
        nuxt-link.navbar-item(to="/syntax", exact) Syntax
        nuxt-link.navbar-item(to="/usage", exact) Usage
        a.navbar-item(href="https://gitlab.com/danhawkes/todo.txt" target="_blank" rel="noopener noreferrer") GitLab
</template>

<style scoped>
.container {
  padding-top: 1em;
  padding-bottom: 1em;
}
.title .tag {
  font-size: 1em;
}
</style>
