<template lang="pug">
  div
    div.syntax-diagram(ref="diag" align="center")
</template>

<script lang="ts">
import Vue from "vue";
import { ISerializedGast } from "chevrotain";
import ToDoParser from "@todo.txt/parser";

export default Vue.extend({
  data() {
    const parser = new ToDoParser();
    type gastitem = ISerializedGast & {
      name: string;
    };
    const gast = parser.parser.getSerializedGastProductions() as gastitem[];
    const sortedGast = [
      gast.find(a => a.name === "todoList"),
      gast.find(a => a.name === "todoItem"),
      gast.find(a => a.name === "checkmark"),
      gast.find(a => a.name === "priority"),
      gast.find(a => a.name === "dates"),
      gast.find(a => a.name === "body")
    ] as gastitem[];
    return { sortedGast };
  },
  mounted() {
    require("~/assets/diagrams/vendor/railroad-diagrams.js");
    require("~/assets/diagrams/src/diagrams_builder.js");
    require("~/assets/diagrams/src/diagrams_behavior.js");
    const main = require("~/assets/diagrams/src/main.js");
    const diagramsDiv = this.$refs.diag;
    main.drawDiagramsFromSerializedGrammar(this.$data.sortedGast, diagramsDiv);
  }
});
</script>
