<template lang="pug">
    div.box
      div.media.level
        div.media-content
          span.title.is-5 {{ todo.text }}
        div.media-right
          input(:checked='todo.completed', type='checkbox', disabled='')
      div.level: table.table.is-fullwidth.is-bordered
        tbody
          tr(v-if="priority")
            td Priority
            td: span.tag(:class="priority.color + ' is-light'") {{priority.text}}
          tr(v-if='dateCreated')
            td Created
            td {{dateCreated}}
          tr(v-if='dateCompleted')
            td Completed
            td {{dateCompleted}}
          tr(v-if="todo.contexts.length > 0")
            td Contexts
            td: span.tags
              span.tag.is-info.is-light.is-family-code(v-for='context in todo.contexts', :key='context') @{{ context }}
          tr(v-if="todo.projects.length > 0")
            td Projects
            td: span.tags
              span.tag.is-info.is-light.is-family-code(v-for='project in todo.projects', :key='project') +{{project}}
          tr(v-if="Object.keys(todo.extras).length > 0")
            td Extras
            td: span.tags.has-addons(v-for='(value, key) in todo.extras', :key='key')
              span.tag.is-info {{ key }}
              span.tag.is-info.is-light {{ value }}
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true
    }
  },
  computed: {
    priority() {
      if (this.todo.priority) {
        return {
          text: this.todo.priority,
          color:
            { A: "is-danger", B: "is-warning", C: "is-info" }[
              this.todo.priority
            ] ?? ""
        };
      } else {
        return null;
      }
    },
    dateCreated() {
      return this.todo.dateCreated
        ? this.todo.dateCreated.toDateString()
        : null;
    },
    dateCompleted() {
      return this.todo.dateCompleted
        ? this.todo.dateCompleted.toDateString()
        : null;
    }
  }
};
</script>
