<template lang="pug">
div.columns.is-multiline
  div.column.is-one-third-desktop.is-half-tablet(v-for='(todo, index) in todos', :key='index')
    ToDoItem(:todo="todo")
</template>

<script>
import ToDoItem from "~/components/ToDoItem";
export default {
  components: { ToDoItem },
  props: {
    todos: {
      type: Array,
      default() {
        return [];
      }
    }
  }
};
</script>
