.syntax-diagram {
  svg.railroad-diagram path {
    stroke-width: 3;
    stroke: black;
    fill: rgba(0, 0, 0, 0);
  }

  svg.railroad-diagram text {
    font: bold 14px monospace;
    color: $black;
    text-anchor: middle;
  }

  svg.railroad-diagram text.label {
    text-anchor: start;
  }

  svg.railroad-diagram text.comment {
    font: italic 12px monospace;
  }

  svg.railroad-diagram g.non-terminal rect {
    fill: $turquoise;
  }

  svg.railroad-diagram rect {
    stroke-width: 3;
    stroke: black;
    fill: $white-bis;
  }

  .diagramHeader {
    display: inline-block;
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-weight: bold;
    font-family: $family-code;
    font-size: $size-6 !important;
    text-align: center;
    color: $text-strong;
  }

  .diagramHeaderDef {
    background-color: $yellow;
  }

  svg.railroad-diagram text {
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  svg.railroad-diagram g.non-terminal rect.diagramRectUsage {
    color: green;
    fill: $yellow;
    stroke: 5;
  }

  svg.railroad-diagram g.terminal rect.diagramRectUsage {
    color: green;
    fill: $yellow;
    stroke: 5;
  }

  div {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  svg {
    width: 100%;
  }

  svg.railroad-diagram g.non-terminal text {
    cursor: pointer;
  }
}
